@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body,
html {
  height: 100%;
}

:root {
  --columbia-blue: #b9d6f2ff;
  --nav-color: #adb5bd;
  --main-color: #e9ecef;
  --btn-color: #ced4da;
}

.header {
  display: flex;
  height: 120px;
  padding: 2rem;
  background-color: var(--nav-color);
  justify-content: flex-start;
  align-items: center;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

/*Preserve aspect ratio*/
.header img {
  height: 100%;
  object-fit: contain;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--main-color);
}

.left-side-panel {
  width: 25%;
  flex-direction: column;
  padding: 20px;
}

.right-side-panel {
  width: 75%;
  padding: 20px;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--btn-color);
  width: 100%;
}

.tasks-section {
  margin-bottom: 40px;
}

.projects-section h2 {
  margin-bottom: 20px;
}

.btn:hover {
  opacity: 0.8;
}
