@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body,
html {
  height: 100%;
  overflow: auto;
}

:root {
  --columbia-blue: #b9d6f2ff;
  --antiflash-white: #e9ecefff;
  --french-gray-2: #adb5bdff;
  --french-gray: #ced4daff;
  --seasalt: #f8f9faff;

  --platinum: #dee2e6ff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

.header {
  display: flex;
  height: 120px;
  padding: 2rem;
  background-color: var(--french-gray-2);
  justify-content: flex-start;
  align-items: center;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

/*Preserve aspect ratio*/
.header img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--antiflash-white);
  height: calc(100% - 120px);
}

.left-side-panel {
  width: 25%;
  flex-direction: column;
  padding: 20px;
}

.right-side-panel {
  background-color: var(--seasalt);
  width: 75%;
  padding: 20px;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--french-gray);
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tasks-section {
  margin-bottom: 40px;
}

.projects-section h2,
.right-side-panel h1 {
  margin-bottom: 18px;
}

.btn:hover {
  background-color: var(--french-gray-2);
}

.btn img {
  height: 20px;
  width: 20px;
}

.btn span {
  width: 50%;
}
