@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body,
html {
  height: 100%;
}

:root {
  --columbia-blue: #b9d6f2ff;
  --uranian-blue: #a3d9ffff;
  --chinese-violet: #7e6b8fff;
  --celadon: #96e6b3ff;
  --amaranth: #da3e52ff;
  --maize: #f2e94eff;
}

.header {
  display: flex;
  height: 120px;
  padding: 2rem;
  background-color: var(--columbia-blue);
  justify-content: flex-start;
  align-items: center;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

/*Preserve aspect ratio*/
.header img {
  height: 100%;
  object-fit: contain;
}

main {
  display: flex;
  height: 100%;
}

.left-side-panel {
  width: 25%;
  flex-direction: column;
  padding: 20px;
}

.right-side-panel {
  width: 75%;
  padding: 20px;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--uranian-blue);
  width: 100%;
}

.btn:hover {
}
